@page
@model BookClub.Views.Home.Book_detailModel
@{
    ViewData["Title"] = "Список книг";
    ViewData["Author"] = "Авторы";
    ViewData["Cost"] = "Цена";
    ViewData["Description"] = "Анотация";
    ViewData["Date relase"] = "Дата выхода";
    ViewData["Edition"] = "Рецензия";
    
}
@using Microsoft.AspNetCore.Mvc.Localization
<h1>Детальная информация о книгах</h1>
<thead>
    <tr>
        <th>
         </th>

        <th>
           @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>

        <th></th>
    </tr>
</thead>
