@page
@model IEnumerable<BookClub.Models.Book>
@{
    ViewData["Books"] = "Book_detail";
    //ViewBag.Book = "Book";
}
@using Microsoft.AspNetCore.Mvc.Localization

<h1>Детальная информация о книгах</h1>
@foreach (var item in Model)
{
<table class="table">
<thead>
    <tr>
        <th>
         </th>

            <td>
                    @Html.DisplayNameFor(modelItem => item.Title)
            </td>
            <td>
                    @Html.DisplayNameFor(modelItem => item.Author)
            </td>
            <td>
                    @Html.DisplayNameFor(modelItem => item.Cost)<i>руб</i>
            </td>
            <td>
                    @Html.DisplayNameFor(modelItem => item.Description)
            </td>
            <td>
                    @Html.DisplayNameFor(modelItem => item.Edition)
            </td>
       @* <th>
                @ViewBag.Book.Title;
        </th>
        <th>
                @ViewBag.Book.Author;
        </th>
        <th>
                @ViewBag.Book.Cost;
        </th>
        <th>
                @ViewBag.Book.Description;
        </th>
        <th>
                @ViewBag.Book.Edition;
        </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Category)
            </th>*@

        <th></th>
    </tr>
</thead>
</table>
};