@model IEnumerable<BookClub.Models.ReadBook>

@{
    ViewData["Title"] = "Book";
}

<h1>Список прочитанных книг</h1>

<table class="table">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>                               
        <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
        </td>
        <td>
                    @Html.DisplayFor(modelItem => item.User.Fio)
        </td>
        <td>
          <a asp-action="DeleteListBook" asp-route-id="@item.Id">Удалить</a>                                           
        </td>
            </tr>
        }
    </tbody>
</table>