@model IEnumerable<BookClub.Models.Book>

@{
    ViewData["Title"] = "Список книг";
    ViewData["Author"] = "Авторы";
    
}
@using Microsoft.AspNetCore.Mvc.Localization

<h1>Список книг</h1>


<p>Пользователь: @ViewData["UserId"]</p>

<table class="table">
    <thead>
  
        <script type="text/javascript" language="JavaScript">
            var copy_page;

            function FindOnPage(inputId) {
                var obj = document.getElementById(inputId),
                    objValue = obj.value.replace(/^[\s\A-z\\\-=_''""\.]+|[\s\A-z\\\-=_''""\.]+$/gi, '').replace(/^[\s\A-z\\\-=_''""\.]+|[\s\A-z\\\-=_''""\.]+$/gi, '');

                if (objValue == '') { alert('Вы ничего не ввели'); return }

                if (document.location.href.indexOf('#') < 0) copy_page = document.body.innerHTML;
                else document.body.innerHTML = copy_page;

                var ttf = new RegExp(objValue.split('').join('-?'), 'g'),
                    db = document.body.innerHTML,
                    rz = db.match(ttf);
                if (rz == null) { alert('Ничего не найдено, проверьте правильность ввода!'); return }

                obj.value = '';
                document.location.href = document.location.href.split('#')[0] + '#' + objValue;

                var rz1 = new Array(); rz1[0] = rz[0];
                var rz_obr = new Array(); rz_obr[rz1[0]] = 1;
                if (rz.length > 1)
                    for (var k = j = 1, lj = rz.length; j < lj; j++)
                        if (!rz_obr[rz[j]]) { rz1[k++] = rz[j]; rz_obr[rz[j]] = 1 }

                for (j = 0, lj = rz1.length; j < lj; j++) {
                    var z = (!j) ? (' id="' + objValue + '"') : '';
                    document.body.innerHTML = document.body.innerHTML.replace(new RegExp(rz1[j], 'g'), '<span style="background: red"' + z + '>' + rz1[j] + '</span>');
                }
                document.location.href = document.location.href.split('#')[0] + '#' + objValue;
            }
        </script>
        <form class="form-search" method="get" action="/search" target="_blank">
            <input type="button" onclick="FindOnPage('textToFind')" value="Найти" />
            <input type="text" name="q" id="textToFind" placeholder="поиск" value="" />
        </form>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <script>
 function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
    if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
    a[i].style.display = "";
    } else {
    a[i].style.display = "none";
    }
    }
    }
    </script>
   
    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Контекстный поиск </button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Найти" id="myInput" onkeyup="filterFunction()">
            <a href="#ariel">Ариэль</a>
            <a href="#Fight club">Бойцовский клуб</a>
            <a href="#War and Peace">Война и мир</a>
            <a href="#To the open sky">В открытое небо</a>
            <a href="#Sovereign">Государь</a>
            <a href="#Eugene Onegin">Евгений Онегин</a>
            <a href="#Golden calf">Золотой телёнок</a>
            <a href="#Metro2034">Метро2034</a>
            <a href="#Wisdom of Hope and other talk about Dante">Мудрость Надежды и другие разговоры о Данте</a>
            <a href="#Hotel At the Dead Alpinist">Отель «У Погибшего Альпиниста»</a>
            <a href="#Crossroads">Перекрёстки</a>
            <a href="#Beautiful world, where are you?">Прекрасный мир, где же ты?</a>
            <a href="#The True Story of Anna Karenina">Подлинная история Анны Карениной</a>
            <a href="#Roadside Picnic">Пикник на обочине</a>
            <a href="#It's hard to be a god">Трудно быть богом</a>
            <a href="#The Man Who Died Twice">Человек, который умер дважды</a>
            <a href="#Sherlock Holmes">Шерлок Холмс</a>
            <a href="#The Speckled Band">The Speckled Band</a>
        </div>
    </div>
    

      <tbody>
        @foreach (var item in Model)
        {
        <tr>                               
             <td>
               @Html.DisplayFor(modelItem => item.Title)
             </td>
             <td>
               @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost) <i>руб</i>
                </td>
             <td>
                 <a asp-action="AddListBook" asp-route-id="@item.Id">Добавить в корзину</a>
                    <a asp-action="Book_detail" asp-route-id="@item.Title">Посмотреть детальную информацию</a>
             </td>

        </tr>
        }
    </tbody>
</table>